CONFIG_CROSS_COMPILE="aarch64-linux-gnu-"

CONFIG_KCOV=y
CONFIG_KASAN=y
CONFIG_DEBUG_INFO=y
#CONFIG_CMDLINE=”console=ttyAMA0”
CONFIG_KCOV_INSTRUMENT_ALL=y
CONFIG_DEBUG_FS=y
CONFIG_NET_9P=y
CONFIG_NET_9P_VIRTIO=y

CONFIG_CC_OPTIMIZE_FOR_SIZE=y

# Fix build for 4.14.x
CONFIG_CPU_ARM926T=n

# General
CONFIG_CGROUPS=y
CONFIG_USER_NS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_TMPFS=y

CONFIG_FS_POSIX_ACL=y
CONFIG_OVERLAY_FS=y
CONFIG_EXT4_FS=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_VFAT_FS=y

CONFIG_PCI=y
CONFIG_SCSI=y
CONFIG_BLK_DEV_SD=y
CONFIG_BLK_DEV_SR=y
CONFIG_INPUT_EVDEV=y

CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y
CONFIG_FONT_8x16=y

CONFIG_FHANDLE=y
CONFIG_DMADEVICES=y

CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

# Network for mobile
CONFIG_PPP=y
CONFIG_PPP_ASYNC=y
CONFIG_PPP_SYNC_TTY=y

# Disable unused devices
CONFIG_ETHERNET=n
CONFIG_MODULES=n
CONFIG_WIRELESS=n
CONFIG_WLAN=n
CONFIG_SOUND=n

# Disable unused filesystem
CONFIG_EXT2_FS=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_NETWORK_FILESYSTEMS=n

# Network for Qemu
CONFIG_TUN=y

# Not used at the moment
CONFIG_GPIOLIB=n
CONFIG_GPIO_DEVRES=n

# Qemu drivers
CONFIG_CPU_V6=y
CONFIG_ARM_ERRATA_411920=y
CONFIG_ARM_ERRATA_364296=y
CONFIG_AEABI=y
CONFIG_OABI_COMPAT=y
CONFIG_VFP=y
CONFIG_MMC_BCM2835=y
CONFIG_MMC_BCM2835_DMA=y
CONFIG_DMA_BCM2708=y
CONFIG_SCSI_SYM53C8XX_2=y

# Mostly used for menuconfig
CONFIG_EMBEDDED=y